<!DOCTYPE html>
<html>
<head>
    <title>Add Motherboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="container">
  <div class="row">
    <div class="Center is-Responsive">
      <h1 align="center">Add Motherboard</h1>
      <div class="col-sm-6 col-md-10 col-md-offset-1">
        <form method="post">
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
            <input class="form-control" type="text" name='brand' placeholder="brand"  value="<%=brand%>" /> 
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
            <input class="form-control" type="text" name="model"  placeholder="model"  value="<%=model%>" />     
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
            <input class="form-control" type="text" name="socket"  placeholder="socket"  value="<%=socket%>" />     
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
            <input class="form-control" type="text" name="formfactor"  placeholder="formfactor"  value="<%=formfactor%>" />     
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
            <input class="form-control" type="text" name="ramslots"  placeholder="ramslots"  value="<%=ramslots%>" />     
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
            <input class="form-control" type="text" name="maxram"  placeholder="maxram"  value="<%=maxram%>" />     
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-btc"></i></span>
            <input class="form-control" type="text" name="price"  placeholder="price"  value="<%=price%>" />     
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
            <input class="form-control" type="text" name="link"  placeholder="link"  value="<%=link%>" />     
          </div>
            
          <div class="form-group">
            <input type="submit" name="" class="btn btn-success btn-block" value="Add">
          </div>
          <div class="form-group text-center">
            <a href="http:/admin">back</a>
          </div>
        </form>        
      </div>  
    </div>    
  </div>
</div>
</body>
</html>